<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Weather page</title>
</head>
<body>
<header>
    <a href="/" class="title">WeatherInfo</a>
    <a href="/" class="item">Home</a>
    <a href="/weather" class="item">Weather</a>
</header>
<div class="border padding content-center">
    <h2>Information about <i>{{city}}</i> not found.</h2>
</div>
</body>
</html>